*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

header{
    height: 10vh;
    background-color: rgb(46, 58, 70);
    padding: .5rem .6rem;
}

header img{
    width: 50px;
}

main{
    height: 90vh;
    background-color: #1e2d3b;
}

div.central-container{
    width: 70%;
    margin: 0 auto;
    padding: 3rem 0;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: .5rem;
}

div.album-card{
    background-color: rgb(46, 58, 70);
    width: calc((100% / 5) - 1rem);
    text-align: center;
    color: white;
    padding: 1rem;
}

div.album-card img{
    width: 100%;
}